/*
    Author: Taif Shaker
    Date: January 30, 2026
    Description: Stylesheet for destination.html page.
*/

body {
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    /* background-image: url(); */
}

h1 {
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-size: 18pt;
    font-weight: normal;
    text-align: left;
    text-decoration: underline;
}

a {
    color: #A4A400;
}

blockquote {
    border-radius: 15%;
    background-color: #FFFFA8;
    font-style: italic;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    display: inline-block;
}

p {
    display: block;
    max-width: 500px;
    padding-left: 20px;
}

ul {
    list-style-image: url(favicon.png);
}